# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/AEYE_Front/node_modules
/.pnp
/AEYE_Front/.pnp.js
/AEYE_Front/.yarn/install-state.gz

# testing
/AEYE_Front/coverage

# next.js
/AEYE_Front/.next/
/AEYE_Front/out/

# production
/AEYE_Front/build

# misc
.DS_Store
/AEYE_Front/*.pem

# debug
/AEYE_Front/npm-debug.log*
/AEYE_Front/yarn-debug.log*
/AEYE_Front/yarn-error.log*

# local env files
/AEYE_Front/.env*.local

# vercel
/AEYE_Front/.vercel

# typescript
/AEYE_Front/*.tsbuildinfo
/AEYE_Front/next-env.d.ts

# editor
/AEYE_Front/.vscode
/AEYE_Front/node_modules

